<section class="hero min-h-screen" style="background-image: url('/images/home-cafe-fausse.webp');">
  <div class="hero-overlay bg-white bg-opacity-80"></div>
  <div class="hero-content text-center px-4">
    <div class="max-w-md">
      <h1 class="mb-10 text-4xl sm:text-5xl md:text-6xl font-bold text-black monsieur-la-doulaise-regular">Experience Fine Dining at <br> Café Fausse</h1>
      <p class="mb-10 text-sm sm:text-base text-black">Where traditional Italian flavors meet modern culinary innovation</p>
      <div class="flex flex-col sm:flex-row gap-3 justify-center">
        <a href="/menu" class="btn btn-primary">View Menu</a>
        <a href="/reservations" class="btn btn-outline btn-secondary">Make a Reservation</a>
      </div>
    </div>
  </div>
</section> 